Repository rero/ng-core, pull requests merged in 2020-11, with the labels that each got.

#291 editor: restore default value for hidden field
  package-lock.json
  package.json
  projects/rero/ng-core/package.json
  projects/rero/ng-core/src/lib/record/editor/editor.component.ts
  projects/rero/ng-core/src/lib/record/editor/services/editor.service.ts
  projects/rero/ng-core/src/lib/record/editor/type/array-type/array-type.component.ts
  projects/rero/ng-core/src/lib/record/editor/type/object-type/object-type.component.ts
  projects/rero/ng-core/src/lib/record/editor/wrappers/hide-wrapper/hide-wrapper.component.ts
  projects/rero/ng-core/src/lib/record/record.module.ts
  projects/rero/ng-core/src/lib/record/record.service.ts
Labels: editor

#304 editor: fix options translation problems.
  projects/rero/ng-core/src/lib/record/editor/extensions.ts
Labels: bug, translation

#305 Translations update from Weblate
  projects/rero/ng-core/src/lib/translate/i18n/it.json
Labels: translation

#249 editor: add schema example in the demo application
  projects/ng-core-tester/src/app/app-routing.module.ts
  projects/ng-core-tester/src/app/app.module.ts
  projects/ng-core-tester/src/app/record/editor/editor.component.html
  projects/ng-core-tester/src/app/record/editor/editor.component.spec.ts
  projects/ng-core-tester/src/app/record/editor/editor.component.ts
  projects/ng-core-tester/src/app/record/editor/schema.json
  projects/ng-core-tester/src/app/service/app-menu.service.ts
  projects/rero/ng-core/src/lib/record/editor/editor.component.ts
  projects/rero/ng-core/src/lib/record/record.module.ts
Labels: doc, editor
