Repository rero/ng-core, pull requests merged in 2021-01, with the labels that each got.

#339 editor: fix horizontal wrapper
  projects/rero/ng-core/src/lib/record/editor/editor.component.ts
  projects/rero/ng-core/src/lib/record/editor/extensions.ts
  projects/rero/ng-core/src/lib/record/editor/wrappers/horizontal-wrapper/horizontal-wrapper.component.ts
Labels: editor

#332 templates: restrict template loading to resource creation.
  projects/rero/ng-core/src/lib/record/editor/editor.component.html
  projects/rero/ng-core/src/lib/record/editor/editor.component.ts
Labels: editor

#337 search: remove total count on tab
  projects/rero/ng-core/src/lib/record/search/record-search.component.html
  projects/rero/ng-core/src/lib/record/search/record-search.component.ts
Labels: search

#344 tests: fix cypress tests
  projects/rero/ng-core/src/lib/menu/menu-widget/menu-widget.component.html
Labels: tests
