Repository rero/ng-core, pull requests merged in 2021-05, with the labels that each got.

#389 template: display of the form after loading the data
  projects/rero/ng-core/src/lib/record/editor/widgets/load-template-form/load-template-form.component.html
  projects/rero/ng-core/src/lib/record/editor/widgets/load-template-form/load-template-form.component.ts
Labels: editor

#383 search: improve filter configuration
  projects/ng-core-tester/src/app/app-routing.module.ts
  projects/rero/ng-core/src/lib/record/record.ts
  projects/rero/ng-core/src/lib/record/search/record-search-page.component.ts
  projects/rero/ng-core/src/lib/record/search/record-search.component.html
  projects/rero/ng-core/src/lib/record/search/record-search.component.ts
  projects/rero/ng-core/src/lib/record/search/record-search.service.ts
Labels: professionnal ui, search

#384 search list: improve export button
  projects/rero/ng-core/src/lib/record/search/record-search.component.html
  projects/rero/ng-core/src/lib/record/search/record-search.component.ts
Labels: data-export, enhancement
